* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin-bottom: 4rem;
    font-family: sans-serif;
}




nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: rgb(16, 97, 168);
}

.brand {
    font-size: 1.8rem;
    color: rgba(255, 255, 255, 0.815);
    text-transform: uppercase;
}

.nav-links {
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
}

.nav-button {
    padding: 0.6rem;
}

.nav-button:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.623);
}




.container {
    width: 80vw;
    margin: 0 auto;
    margin-top: 2rem;
    border: 2px solid rgb(240, 240, 240);
    padding: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

input {
    padding: 0.2rem 1.2rem;
    border: none;
    outline: none;
    border-radius: 2px;
    font-size: 1.4rem;
}

.password {
    position: relative;
}

button {
    font-size: 1.2rem;
    padding: 0.2rem 0.6rem;
}

button:hover {
    cursor: pointer;
}

.option {
    line-height: 0.4rem;
    font-weight: bold;
    font-size: 1.4rem;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 0.5rem;
    margin-top: 0.3rem;
}

.option:hover {
    cursor: pointer;
}

.option-menu {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 0.5rem;
    margin-top: 0.4rem;
    background-color: white;
    color: rgb(170, 75, 75);
    line-height: 1.4rem;
    font-size: 1.2rem;
    border-radius: 3px;
    border: 1px solid grey;
}


.hidden {
    display: none;
}

.option-el a {
    text-decoration: none;
}

.option-el {
    padding: 0.3rem 0.4rem;
}

.option-el:hover {
    cursor: pointer;
    background-color: red;
}

.option-el a:hover {
    color: white;
}

.password {
    background-color: rgb(229, 243, 255);
    min-width: 250px;
    margin: 0.6rem 1.2rem;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 2px rgb(245, 243, 243);
}

/* form component */

form {
    width: 75vw;
}

form input {
    border: 1px solid rgb(45, 158, 0);
    padding: 0.3rem;
    font-size: 1.3rem;
    font-weight: normal;
    color: rgb(121, 121, 121);
    border-radius: 0.1rem;
    width: 100%
}

.form-div {
    margin: 1rem;
}

.form-div label {
    text-align: left;
    display: block;
    padding-bottom: 0.2rem;
    font-size: 1.2rem;
    color: grey;
    text-transform: uppercase;
}

.login, .add {
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    font-size: 1.2rem;
    text-transform: uppercase;
}

#input_error {
    text-align: left;
    color: red;
}


/* error */

.err {
    color: white;
    width: 80vw;
    height: 40px;
    border-radius: 4px;
    margin: 1rem auto;
    padding-left: 0.8rem;
    display: flex;
    align-items: center;
    justify-self: center;
}

.err-success {
    color: white;
    background-color: rgb(71, 165, 71);
}

.err-danger {
    color: white;
    background-color: rgb(236, 53, 53);
}

#signup_button a {
    text-decoration: none;
    color: white;
}