h1 {
  text-align: center;
  text-transform: capitalize;
  color: rgba(25, 137, 202, 0.836);
}

.blackback {
  width: 100vw;
  height: 100vh;
  background-color: rgba(16, 97, 168, 0.753);
  position: fixed;
  top: 0;
  z-index: 10;
  display: none;
}

.blackback.visible {
  display: block;
}

.modal {
  position: fixed;
  z-index: 100;
  top: 25vh;
  left: 10%;
  width: 40rem;
  max-width: 80vw;
  background-color: white;
  display: none;
  border-radius: 15px;
  padding: 20px;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

.add-container {
  border: 2px solid rgb(240, 229, 229);
  margin: 2rem auto;
  border-radius: 4px;
  padding-bottom: 2rem;
}

.card {
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
  }
}
@media (max-width: 768px) {
  .modal {
    top: 15vh;
    border-radius: 4px;
  }
}

.modal.visible {
  display: block;
  animation: show-modal 0.3s ease-out forwards;
}

.add-container h1 {
  margin-top: 1rem;
  text-decoration: underline;
  color: rgba(18, 82, 119, 0.719);
}

.add-container form {
  padding: 0;
  width: 80%;
  margin: 0 auto;
}

.add-container .form-div {
  width: 100%;
  padding: 0;
  margin: 1.2rem 0;
}

.add-container input {
  width: 100%;
  margin: 0;
}
input:focus {
  color: white;
  outline: none;
  background-color: rgba(25, 137, 202, 0.89);
}

@keyframes show-modal {
  from {
    transform: translateY(-5rem);
  }

  to {
    transform: translateY(0);
  }
}


